.div-container {
    overflow: hidden;
}

.div-links-container a:not(.icon):hover {
    color: #3d6ae8;
    box-shadow: 0 4px 0;
    transition: 0.2s;
}

.div-links-container a.icon:hover .div-myIcon {
    filter: drop-shadow(0px 0px 6px #81c7ff);
    transition: 0.2s;
}

.div-links-container {
    display: flex;
    column-gap: 5%;
    justify-content: space-between;
    /* padding: 1%; */
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    width: 100%;
    background: white;
    align-content: center;
}

.div-links-container a {
    font-family: 'Montserrat-Bold';
    text-decoration: none;
    padding-bottom: 4px;
}

.div-links-buttons {
    display: flex;
    column-gap: 7%;
    width: 65%;
    padding: 1% 6%;
    justify-content: flex-end;
}


.div-myIcon {
    background-image: url('/src/Media/R.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 50px;
    padding: 12px;
    height: 25px;
}