/* ============== Futura ============== */
@font-face {
  font-family: 'Futura-Light';
  src: url('/src/Media/Font/FUTURA45LIGHT.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura-Regular';
  src: url('/src/Media/Font/FUTURA55REGULAR.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('/src/Media/Font/FUTURA65MEDIUM.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('/src/Media/Font/FUTURA75BOLD.TTF') format('truetype');
}

/* ============== Poppins ============== */

@font-face {
  font-family: 'Poppins-Light';
  src: url('/src/Media/Font/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/src/Media/Font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/src/Media/Font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/src/Media/Font/Poppins-Bold.ttf') format('truetype');
}

/* ============== Montserrat ============== */

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/src/Media/Font/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/src/Media/Font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/src/Media/Font/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/src/Media/Font/Montserrat-Bold.ttf') format('truetype');
}



* {
  font-family: 'Poppins-Regular';
  color: #3c3c3f;
}

* button {
  font-family: 'Montserrat-Bold';
}