/* ============== Futura ============== */
@font-face {
  font-family: 'Futura-Light';
  src: url('/src/Media/Font/FUTURA45LIGHT.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura-Regular';
  src: url('/src/Media/Font/FUTURA55REGULAR.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('/src/Media/Font/FUTURA65MEDIUM.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('/src/Media/Font/FUTURA75BOLD.TTF') format('truetype');
}

/* ============== Poppins ============== */

@font-face {
  font-family: 'Poppins-Light';
  src: url('/src/Media/Font/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/src/Media/Font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/src/Media/Font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/src/Media/Font/Poppins-Bold.ttf') format('truetype');
}

/* ============== Montserrat ============== */

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/src/Media/Font/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/src/Media/Font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/src/Media/Font/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/src/Media/Font/Montserrat-Bold.ttf') format('truetype');
}



* {
  font-family: 'Poppins-Regular';
  color: #3c3c3f;
}

* button {
  font-family: 'Montserrat-Bold';
}


.circles{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px !important;
  height: 20px !important;
  background: rgb(222 230 255);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 3%;
  /* width: 80px !important; */
  /* height: 80px !important; */
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px !important;
  height: 20px !important;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
